               /* Reset */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

img{
    max-width: 100%;
}

menu,
ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

                           /* layout */

.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}



                           /* HEADER  */

.nav .row{  
    justify-content: space-between;
}

.logo{
    /* padding: 10px; */
    margin: 20px 20px;
    border: 1px solid yellow;
}

.login{
    /* padding: 20px; */
    width: 50px;
    margin: 30px 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
}

.menu-link{
    padding: 10px;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    gap: 20px;
}


                          /* MAIN */

.container-piccolo{
    max-width: 500px;
    margin: 0 auto;
    min-height: 300px;
}

.paragrafo{
    margin: 10px 10px;
    margin-bottom: 20px;
}

.titolo, .paragrafo{
    text-align: center;
}

.bottone{
    background-color: white;
    border-radius: 15px;
}

.scarica{
    margin-left: 70px;
    border: 1px solid white;
}

.browser{
    margin-left: 15px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.testo-img{
    text-align: left;
    margin-top:30px ;
}

.tasto-container-medio{
    text-align: center;
    display: block;
    background-color: rgb(65, 111, 180);
    color: white;
}

.paragrafo-img{
    text-align: left;
    margin-top: 10px;
}

.container-medio{
    max-width: 700px;
    margin: 0 auto;
    min-height: 500px;
}

.justify-center{
    justify-content: center;
}

.col{
    border: 1px solid yellow;
}

.col-big{
    width: 70%;
    border: 1px solid yellow;
}

.col-small{
    width: 30%;
    border: 1px solid yellow;
}

.row-reverse{
    flex-direction: row-reverse;
}

.bg-gray{
    background-color: lightgray;
}

                       /* FOOTER */

.justify-between{
    justify-content: space-between;
}

.bottone{
    padding: 10px;
    /* border: 1px solid yellow; */
}

.col-divisosei{
    width: calc(100% / 6);
    border: 1px solid yellow;
    padding: 10px;
    min-height: 200px;
}

.col-divisotre{
    width: calc(100% / 3);
    border: 1px solid yellow;
    padding: 10px;
    min-height: 200px;
}



                            /* debug */



.debug .container, .container-piccolo, .container-medio{
    border: 1px solid red;
    padding: 4px;
}

.debug section{
    padding: 32px 0;
}

.debug .discord-header{
    background-color: aquamarine;
    padding: 20px 0;
}

.debug .discord-footer{
    background-color: rgb(50, 48, 48);
    padding: 20px 0;
}

.debug .bg-blue{
    background-color: dodgerblue;
}

.debug .col-big{
    min-height: 200px;
}

.debug .col-small{
    min-height: 200px;
}